<app-menu></app-menu>
<div class="wrapper">
    <div class="loginContainer">
        <div class="inputContainer">
            <span class="logTitle">Username</span>
            <input [(ngModel)]="loginDto.username">
        </div>
        <div class="inputContainer">
            <span class="logTitle">Password</span>
            <input [(ngModel)]="loginDto.password" type="password">
        </div>
        <div class="btnContainer">
            <button (click)="login()">Login</button>
        </div>
        <a routerLink="/register">Register New User</a>
    </div>
</div>